{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}

    
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
    <script type="text/javascript">
    
     
    VK.init({
        apiId: 2428870,
        nameTransportPath: '{% url home %}'
    });

    function vk_login() {
        VK.Auth.login(login);
        return false;
    }

	function vk_signup(){
        VK.Auth.login(addProfile);
        return false;

	}

            function login(response){

                if (response.status == "connected"){
                    $.ajax({
                        dataType: "json",
                        url: "/account/vk_login/",
                        success: function(response){
								window.location.assign(response.redirect);
							}
                    });
                }
            }

            function addProfile(response){

                if (response.status == "connected"){
                    $.ajax({
                        dataType: "json",
                        url: "/account/vk_getdata/",
                        success: function(response){
                            if (response.success){
                               $("#id_vk_id").val(response.vk_id);
                               //$("#id_surname").val(response.surname);
                               //$("#id_name").val(response.name);
                               //$("#id_birth_date").val(response.birth_date);
                               $("#id_website").val(response.website);
                               //$("#id_education").val(response.education);
                            }
							else {
								window.location.reload();
							}

                        }
                    });
                }
            }

            function addAvatar(){

                var formData = {
                    "field1":$("#id_avatar").val()
                };
                $.ajax({
                    dataType: "json",
                    url:'/account/upload_avatar/',
                    type:'POST',
                    data:'jsonData=' + $.toJSON(formData),
                    success: function(res) {
                      $("#id_name").val('It work!!');
                    }
                });
                return false;
            }
    </script>
    
<script type="text/javascript">
        $(function() {
            $("#avatar_form").submit(function() {
                var formData = {
                    "photo":$("#id_avatar").val()
                };
             var img = $("#id_avatar_img")
                $.ajax({
                    dataType: "json",
                    url:'/account/upload_avatar/',
                    type:'POST',
                    data:JSON.stringify(formData),
                    success: function(res) {
                      $("#id_avatar_img").attr('src',res.avatar);
                      $("#field3").val(res.name);

;
                    }
                });
                return false;
            });
        });

    </script>


{% endblock %}
{% block body %}
    <a onclick="return vk_login();" href="javascript: void(0)">Войти используя аккаунт Вконтакте</a>



    <h1>{% trans "Реєстрація нового члена ВМГО «ФДУ»" %}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "Ви вже авторизовані." %}</p>
    {% else %}
        <p>{% trans "Вже є членом ВМГО «ФДУ»?" %} <a href="{% url acct_login %}">{% trans "Увійти" %}</a>!</p>
        

        <form class="signup uniForm" id="signup_form" method="post" action="{% url acct_signup %}">
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div  class="form_blick">
                    <input type="submit" value="{% trans "Sign Up &raquo;" %}" />
                </div>

            </fieldset>

        </form>

{#        <form class="signup uniForm" id="avatar_form" enctype="multipart/form-data" method="POST" action="javascript: void(0)">#}
{#            <fieldset class="inlineLabels">#}
{#                {{ avatar_form|as_uni_form }}#}
{#                <input type="submit" value="Upload New Image">#}
{#            </fieldset>#}
{##}
{#        </form>#}

{#        <p><input type="text" name="field3" id="field3" /><label for="field3">Поле 3</label></p>#}
{#        <img name="avatar" id="id_avatar_img" src="" >#}

        {% url terms as terms_url %}
        {% url privacy as privacy_url %}
        <p>{% blocktrans %}By clicking "Sign Up", you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}If you have any trouble creating your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        
        {# @@@ currently OpenID signup is not supported via signup codes #}
        {% if not code %}
            <p>If you have OpenID, <a href="{% url acct_login %}">log in</a> using that to begin using this site with OpenID right away.</p>
        {% endif %}
    {% endif %}



{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#signup_form').validate('{% url signup_form_validate %}', {type: 'table', fields: ['username'], dom: $('#id_username'), event: 'change'});
            $("#id_username").focus();
        });
    </script>


		<link type="text/css" href="{{ STATIC_URL }}pinax/css/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
   		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-ui-1.8.14.custom.min.js"></script>

<script type="text/javascript">

	$(function() {
		$( "#id_birth_date" ).datepicker({ 
						dayNamesMin: ['Нд', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'], 
						firstDay: 1,
						dateFormat: 'yy-mm-dd',
						changeYear: true,			//возможность изменять год
						yearRange: "1985:2011",
						monthNames: ['Січень','Лютий','Березень','Квітень','Травень','Червень','Липень','Серпень','Вересень','Жовтень','Листопад','Грудень'] 
						});
	});
	</script>
{% endblock %}
