{% extends "clubs/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}
{% load comments_tag %}
{% load avatar_tags %}

{% block head_title %}{% blocktrans %}Деталі клубу{% endblocktrans %}{% endblock %}




{% block body_param %} onload="initialize()" {% endblock %}
{% block body %}

    <div class="right_panel">
        {% include "map.html" %}
    <input id="id_location" type="hidden" class="textinput" name="location" maxlength="200" value = "(48.464954, 35.044956)"/>
    </div>
    
      <div class="left_panel">


    <h1>{% trans "Деталі" %}</h1>

	<div id="div_id_title" class="ctrlHolder">
	           <label for="id_title">                    
	                   Назва:
	           </label>
	        	{{ club.title }} 
    </div>

	<div id="div_id_university" class="ctrlHolder">
	           <label for="id_university">                    
	                   Університет:
	           </label><a href="/universities/{{ university.id }}">   {{ club.university }}  </a>  
     
    </div>

	<div id="div_id_address" class="ctrlHolder">
	           <label for="id_address">                    
	                   Адреса:
	           </label>
	      {{ club.address }} 
    </div>

	<div id="div_id_date" class="ctrlHolder">
	           <label for="id_date">                    
	                   Дата створення:
	           </label>
	        {{ club.date }} 
    </div>

	<div id="div_id_date" class="ctrlHolder">
	           <label for="id_date">    
	</div>                
	                   
<h3>Адміністратор клубу:</h3>
	           </label>
	         
<div name = "admin" style="float:left; margin: 10px; text-align: center">  
		<div name = "avatar">
				<a href="{% url profile_detail club.admin %}">
					<img src="{% avatar_url club.admin 80 %}" alt="Avatar of {{ club.admin }}"/> </a> </div>	
			<div name = "username">
				<a href="{% url profile_detail club.admin %}"> {{ club.admin.get_profile }} </a> </div>
		</div>
    </div>
<br>
	{% if is_me %}
		<a href="/clubs/edit/{{ club.id }}"> <P> Редагувати клуб </P> </a>        
		<a href="/clubs/destroy/{{ club.id }}"> <P> Видалити клуб </P> </a>   
	{% endif %}

	{% if is_member %}
		<a href="/clubs/leave/{{ club.id }}"> <P> Покинути клуб </P> </a>
	{% else %}
	{% if not is_wait_for_approve %}
		<a href="/clubs/join/{{ club.id }}"> <P> Приєднатись до клубу </P> </a>
	{% endif %}
	{% endif %} 

        <h3 style = 'clear:left'> Члени клубу:</h3>
	{% if is_wait_for_approve %}
		Ваша заявка на членство у клубі на стадії розглядання 
	{% endif %}
	<div name = "members" class="thumb-row clearfix">
    {% for member in members %}
        <div name = "member" style="float:left; margin: 10px; text-align: center">  
			<div name = "avatar">
				<a href="{% url profile_detail member.username %}">
					<img src="{% avatar_url member 80 %}" alt="Avatar of {{ member.get_profile }}"/> </a> </div>
			<div name = "username">
				<a href="{% url profile_detail member.username %}"> {{ member.get_profile }} </a> </div>
		</div>
	{% endfor %}
	</div>


</div>
{% endblock %}



