/* GENERAL */

html, body {
    height: 100%;
}
body {
    margin: 0;
    color: #333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
    background: #f9f9f9 url(images/footer-bg.png) repeat-x fixed center bottom;
}
a, a:visited {
    color: #13C;
}
img {
    border: 0;
}
dt {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
}
td {
    margin: 0;
    border: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
h2 {
margin: 0;
font-size: 14pt;
font-weight: normal;
}

#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 942px;
    min-height: 300px;
    background: url(images/body-bg.png) repeat-y center;
    -moz-box-shadow: 0 0 20px #aaa;
	-webkit-box-shadow: 0 0 20px #aaa;
	box-shadow: 0 0 20px #aaa;
	position: relative;
//	z-index: 5;
}

#social_links{
	position: fixed;
	height: 131px;
	width: 45px;
	background: transparent url(images/fixed-bg.png) no-repeat;
	top: 250px;
	left: 0px;
	
	padding-top: 12px;
	padding-left: 6px;
}

#joinus{
  position:fixed;
  height: 216px;
  width: 45px;
  left: 0px;
  top: 400px;
  background: transparent url(../images/joinus.png) no-repeat;
  cursor: pointer;
}

#social_links img{
	padding-bottom: 3px;
}

#footer {
    color: #999; /* footer text colour */
    margin: 0px auto;
    margin-top: 2px;
    padding: 10px;
    clear: both;
    width: 940px;
    height: 180px;
    background: #8e9ba3 url(images/footer-center-bg.png) top repeat-x;
    -moz-box-shadow: 0 0 20px #aaa;
	-webkit-box-shadow: 0 0 20px #aaa;
	box-shadow: 0 0 20px #aaa;
    

}
#footer a, #footer a:visited {
    color: #444; /* footer link colour */
}
#footer a:hover {
    color: #777; /* footer link hover colour */
}


/* CLEARS */

.clearboth {
    clear: both;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */


/* HEADER */

#headwrap{
    background: #035 url('../images/heading.png') left top repeat-x;
    /* border-bottom: 1px solid #000; /* tab border */
    z-index: 10;
    height: 108px;
    position: relative;	
}

#tabhead {
    position: relative;
    width: 962px;
    margin: 0 auto;
}
#tabhead .logo {
    /*height: 151px;*/
    padding-left: 5px;
    padding-top: 14px;
    float: left;
}
#tabhead .logo img {
    height: 79px;
}
#tabhead .login {
	
    right: 15px;
    color: #DEF; /* login bar text colour */
    width: 254px;
    height: 73px;
    background: transparent url(images/login-bg.jpg) no-repeat;
    float: right;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 7px;
    
}

#tabhead .login img{
	border: solid 2px #1d3564;
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}

#locale_switcher {
    display: inline;
}

#main_menu_wrap{
	height: 43px;	
	background: url(images/main-menu-bg.png) repeat-x;
	z-index: 97;
}

#main_menu{
	width: 962px;
	margin: 0 auto;
}

#subnav {
    padding: 0;
    border-bottom: 1px solid #40525E;
    margin-top: -10px;
    margin-bottom: 10px; 
}
#subnav ul {
    float: right;
    margin: 0;
    padding: 0;
}

#subnav ul a{
	color: #40525E;
}

#subnav ul li {
    display: inline;
    list-style-type: none;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: normal;
    text-decoration: none;
    padding: 4px 20px 4px 20px;
    color: #40525E;
}
#subnav ul a:hover {
    color: #FFF;
    background: #40525E;

}


/* FORMS */

form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 3px;
    border: solid 1px #C6C6C6;
    border-bottom: solid 1px #E3E3E3;
    color: #666;
    font-size: 12pt;
    background: #F3F3F3 url('../images/form-shadow.png') left top repeat-x;
}
ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}


/* MESSAGES */

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}


/* WHAT NEXT */

dl.what_next {
    margin: 2em;
}
dl.what_next dt {
    font-size: 120%;
}
dl.what_next dd {
    margin: 0 0 1em 0;
    font-style: italic;
}
p.what_next {
    font-size: 120%;
}


/* FORM TOGGLE */

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p span {
    background: #DEF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}



/* EXTRAS TO CLEAN UP */

.warning {
    color: red;
    font-weight: bold;
}

div.profile_info p {
    margin: 0;
}
div.left_panel {
    width: 650px;
}
div.right_panel {
    margin-top: 20px;
    width: 200px;
    float: right;
    z-index: 999;
}

.photo_on_photoset{
	margin-bottom: 10px;
}

.photo_on_photoset img{
	vertical-align:text-top;
}

