/* EVENT */

.thumb-row {
    margin: 20px 0;
    padding: 20px 0;
}
.gallery-event-thumb {
    width: 100px;
    margin: 10px 10px 20px 0;
    float: left;
    text-align: center;
}

.event-right-profile, .event-right-tools {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}

.event-profile-details {
    font-size: 0.9em;
}

.event-avatar {
    float: left;
    margin-right: 10px;
}

.event-avatar img {
    border: 1px solid #666;
}

.event-right-tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.event-right-tools ul li {
    background: #fff;
    padding: 2px 4px;
    margin: 2px 0;
}

.event-right-tools li a {
    text-decoration: none;
}

.event-right-tools li:hover {
    background: #DDDDDD;
}

.event-profile-details h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.event-right-tools h2 {
    margin: 0 0 5px 0;
    padding: 0;
}

#embed-code textarea {
    width: 150px;
    font-size: 0.8em;
}
div.embed {
    margin: 10px 0;
    font-style: none;
}

.event-right-tools form {
    margin: 0;
    padding: 0;
}
.delete_form {
  padding: 5px;
  background: #F99;
}

/* Your events */

.event-list tr.odd {
    background-color: #f3f3f3;
}
.event-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}


/* Members */

.member-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}

/* Answers  */

.answer-list tr.odd {
    background-color: #f3f3f3;
}
.answer-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}

/* Question form */

.uniForm .inlineLabels ul li label {
display: block;
float: none;
width: 100%;
}
.uniForm .inlineLabels ul {
float: left;
width: 45%;
}

.uniForm ul {
float: left;
margin: 0;
padding: 0;
}

.uniForm ul li {
list-style: none outside none;
}


