#body {
padding: 10px 0;
width: 962px;
}

#main {
margin: 0 1px 0 1px
}

td {
vertical-align: top;
}

.clear {
clear: both;
}

/*Right panel*/

td.right_panel {
width: 250px;
border-left: 1px solid #bababa;
}

td.right_panel h2 {
color: #878787;
padding: 5px 10px;
background: url("images/lp-h2-bg.png") repeat-y scroll 0 0 transparent;
}

td.right_panel p {
color: #6d7173;
margin: 10px 10px;
}

/*Left panel*/

td.left_panel h2 {
color: #243f6f;
/*background-color: #dfedf3;*/
margin: 0;
padding: 5px 10px;
background: url("images/rp-h2-bg.png") no-repeat scroll 0 0 transparent;
}

/*Event carousel widget*/

.event_widget {
/*border: 1px solid #bababa;*/
width: 660px;
margin: 20px;
}

.event_carousel {
background: url("images/carousel-bg.png") repeat-x scroll 0 0 transparent;
float: left;
}

.event_widget ul {
list-style-type: none;
}

.event_widget ul li{
height: 318px;
width: 284px;
display: block;
}

.event_mini {
margin: 8px 0 10px 10px;
padding: 10px 0 10px 16px;
height: 280px;
}

.event_mini h3{
color: #6d7173;
font-size: 14pt;
font-weight: normal;
margin: 0;
padding: 0 0 10px 0;
}

.event_mini p{
color: #6d7173;
}

.nearest {
background: url("images/carousel-item-bg.png") repeat-x scroll 0 0 transparent;
}

.nearest h3{
color: #2e5c7b;
}

.nearest p{
color: #2e5c7b;
}

.prev {
background: url("images/carousel-prev.png") no-repeat scroll 0 0;
height: 318px;
width: 46px;
display: block;
float: left;
outline: none; /* hide dotted outline in Firefox */
}

.prev:hover {
background-position: -46px 0;
}

.next {
background: url("images/carousel-next.png") no-repeat scroll 0 0;
height: 318px;
width: 46px;
display: block;
float: left;
outline: none; /* hide dotted outline in Firefox */
}

.next:hover {
background-position: -46px 0;
}

.carousel_footer {
background: url("images/carousel-footer.png") no-repeat scroll 0 0;
height: 26px;
}

a.button {
background: url('images/button-a-bg.png') no-repeat scroll right top;
display: block;
color: #5b5b5b;
font-size: 12pt;
font-weight: normal;
float: left;
height: 36px;
margin-right: 16px;
padding-right: 16px; /* sliding doors padding */
text-decoration: none;
outline: none; /* hide dotted outline in Firefox */
}

a.button span {
background: url('images/button-span-bg.png') no-repeat;
display: block;
line-height: 26px;
padding: 5px 0 5px 16px;
}

a.button:hover {
background-position: bottom right;
color: #2e5c7b;
}

a.button:hover span {
background-position: bottom left;
}

a.button:active span {
padding: 6px 0 4px 16px; /* push text down 1px */
}  

