/* GENERAL TAB STYLING */

#left_tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
}
#right_tabs {
}


table.tabs tr{
	height: 38px;
	border-left: 1px solid #c5c5c5;
}

table.tabs td{
	padding: 0px 10px;
	border-right: 1px solid #c5c5c5;
}

table.tabs a, table.tabs a:visited {
    color: #444; /* unselected tab text colour */
    font-weight: bold;
    text-decoration: none;
}
table.tabs a:hover {
    color: #666; /* unselected tab text hover colour */
}
ul.tabs li {
    list-style-type: none;
    display: inline;
    padding: 0px;
    margin: 0 1px; /* to compensate for border */
}
ul.tabs li a {
    padding-top: 20px;
    
}
ul.tabs {
    margin: 0;
    padding-left: 0;
    height: 38px;
}
