{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Админ-панель сайту ФДУ-Украина{% endblock %}

{% block branding %}
<h1 id="site-name">Админ-панель сайту ФДУ-Украина</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/admin/base.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/admin/tiny_django_browser.js"></script>
{% endblock %}
