{% extends "blog/base.html" %}



{% load i18n %}
{% load humanize %}
{% load comments_tag %}
{% load tagging_tags %}
{% load blog_tags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Новина{% endblocktrans %} : {{ post.title }}{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Blog Post Feed for All Users" href="/feeds/posts/all/" />
    <link rel="alternate" type="application/atom+xml" title="Blog Post Feed for User {{ post.author.username }}" href="/feeds/posts/only/{{ post.author.username }}/" />
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css" type="text/css" media="screen" />

<script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>

<script type="text/javascript">
  VK.init({apiId: 2745847, onlyWidgets: true});
</script>
{% endblock %}

{% block body %}

    
    <div class="blog-post">
        <h2>{{ post.title }}</h2>
        <div class="blog-meta"><p>Свторено користувачем: <a href="{% url profile_detail post.author.username %}">{{ post.author.username }}</a> on {{ post.publish|date }}</p></div>
        <div class="blog-tags">
            <p>{% silk "tag_blue" %}
            {% tags_for_object post as tags %}
            {% for tag in tags %}
                <a href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}</p>
            {% ifequal post.author request.user %}
             <p>   <a href="{% url blog_edit post.id %}">Редагувати новину</a></p>

            {% endifequal %}
        </div>
                
        {% show_blog_post_extended post %}
{% if photoset.image_set.count%}      <h3>Галерея</h3>{%endif%}
<div class="thumb-row clearfix">
{% for image in photoset.image_set.all %}
<div class="gallery-photo-thumb">
    <div class="thumb-image">
        <a href="{{image.get_display_url}}" rel="lightbox[hri]" title = {{image.title}}>
  <img src="{{image.get_thumbnail_url}}" />
  </div>
{{image.title}}
        </a>
 
    </div>    
{% endfor %}
</div>


    <div id="vk_like"></div>
	<script type="text/javascript">
	 VK.Widgets.Like("vk_like", {type: "button"});
	</script>
</div>

    
    <h3>Коментарі до новини:</h3>
    {% comments post %}
{% endblock %}
