{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load blog_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load webdesign %}
{% load resizeimg %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/homepage.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css" type="text/css" media="screen" />
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block body %}

<table id="main">
  <tr>
    <td class="left_panel">
      <h2>{% trans "Календар" %}</h2>
      <div class="event_widget">
        <a class="prev" href="javascript:void(0)"></a>
        <div class="event_carousel">
            <ul>
                {% for event in events %}
                <li>
                  <div class="event_mini{% ifequal forloop.counter0 1 %} nearest{% endifequal %}">
                    <h3>{{ event.title }}</h3>
                    <img style="width: 236px; height: 164px;" src="{{event.eventimage.url}}" alt="{{ event.title|truncatewords:"7" }}"/>
                   <p>{{ event.date|date}}</p>
                   <p>{{ event.address|truncatewords:"4" }}</p>
                                        <div>
                    <a class="button" href="{% url event_join event.id%}">
                      <span>{% trans "Приєднатись" %}</span>
                    </a>
                    <a class="button" href="{% url event_details event.id%}">
                      <span>{% trans "Читати" %}</span>
                    </a>
                    </div>
                  </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <a class="next" href="javascript:void(0)"></a>
        <div class="carousel_footer clear"></div>
      </div>
     
      <div id="news_block">
        <div id="site_news">
          <h2>{% trans "Новини" %}</h2>
          {% for blog_post in adminposts|slice:":3" %}
            <div class="news_item">
              <a href="{{blog_post.get_absolute_url}}">
                <img src="{{blog_post.image|resize_img:"75,75"}}"/>
              </a>
              <div class="news_excert">
                <a href="{{blog_post.get_absolute_url}}"><h3>{{blog_post.title}}</h3></a>
                {{blog_post.excert}}
              </div>
            </div><br>
          {% endfor %}
        </div>
        <div id="user_news">
          <h2>{% trans "Мої новини" %}</h2>
          {% for blog_post in posts|slice:":3" %}
            <div class="news_item">
              <a href="{{blog_post.get_absolute_url}}">
                <img src="{{blog_post.image|resize_img:"75,75"}}"/>
              </a>
              <div class="news_excert">
                <a href="{{blog_post.get_absolute_url}}"><h3>{{blog_post.title}}</h3></a>
                {{blog_post.excert}}
              </div>
            </div><br>
          {% endfor %}
        </div>

        <div style="clear: both"> </dib>
      </div>

      {% if rand_photo %}
      <h2>{% trans "Фотографії" %}</h2>
      <div class="thumb-row clearfix">
 {% for photo in rand_photo|slice:":8"%}
<div class="gallery-photo-thumb">
    <div class="thumb-image">
        <a href="{{photo.get_display_url}}" rel="lightbox[hrx]" title = {{image.title}}>
            <img src="{{photo.get_thumbnail_url}}"/>
  </div>
{{image.title}}
        </a>
 
    </div>    
{% endfor %}
</div>
      {% endif %}
    </td>
    <td class="right_panel">
      <h2>{% trans "Новини" %}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2>{% trans "Новини" %}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2>{% trans "Новини" %}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </td>
  </tr>
</table>

{% endblock %}
{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jcarousellite_1.0.1.min.js"></script>
<script type="text/javascript">

    $(".event_carousel").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
        visible: 2,
        circular: false,
	start: 1
    });

</script>
{% endblock %}
