{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load blog_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load webdesign %}
{% load resizeimg %}
{% load avatar_tags %}
{% block head_title %}{% trans "Головна сторінка" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/homepage.css" />
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block subnav_full %}
{% endblock %}

{% block body %}

<table id="main">
  <tr>
    <td class="left_panel">
      <h2>{% trans "Календар" %}</h2>
      <div class="event_widget">
        <a class="prev" href="javascript:void(0)"></a>
        <div class="event_carousel" >
            <ul>
                {% for event in events %}
                <li>
                  <div class="event_mini{% if nearest_event %}{% ifequal forloop.counter0 nearest_event %} nearest{% endifequal %}{% endif %}">
                    <h3>{{ event.title_excerpt }}</h3>
                    
    <div class="event_image">
    	<a  href="{% url event_details event.id%}" title="{{photo.title}}">
            <div style = "background:url('{{event.eventimage|resize_img:"240,150"}}'); background-repeat:no-repeat; background-position:center; height: 150px;"></div>
    	</a>
    </div>
            
                    <div class = "event_about">
                        Початок: {{ event.date_begin|date:"d M Y h:m" }}<br>
                        Кінець: {{ event.date_end|date:"d M Y h:m" }}<br>
                        Місце проведення: {{ event.address|truncatewords:"4" }}
                    </div>
                                        <div>
                    <a class="button" href="{% url event_join event.id%}">
                      <span>{% trans "Приєднатись" %}</span>
                    </a>
                    <a class="button" href="{% url event_details event.id%}">
                      <span>{% trans "Читати" %}</span>
                    </a>
                    </div>
                  </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <a class="next" href="javascript:void(0)"></a>
        <div class="carousel_footer clear"></div>
      </div>
     
      <div id="news_block">
        <div id="site_news">
            <h2>{% trans "Новини" %}</h2><p></p>
        {% for blog_post in adminposts|slice:":3" %}
        <div class="news_item">
                <a href="{{blog_post.get_absolute_url}}">
                    <img src="{{blog_post.image|resize_img:"75,75"}}"/>
                </a>
                <div class="news_excert">
                    <a href="{{blog_post.get_absolute_url}}"><h3>{{blog_post.title}}</h3></a>
                    {{blog_post.excert}}
                </div>
            </div><br>
          <div class="clearer"></div>
          {% endfor %}
        </div>
        <div style="clear: both"> </div>

        <div id="user_news">
          <h2>{% trans "Мої новини" %}</h2>
          {% for blog_post in posts|slice:":3" %}
            <div class="news_item">
              <a href="{{blog_post.get_absolute_url}}">
                <img src="{{blog_post.image|resize_img:"75,75"}}"/>
              </a>
              <div class="news_excert">
                <a href="{{blog_post.get_absolute_url}}"><h3>{{blog_post.title}}</h3></a>
                {{blog_post.excert}}
              </div>
            </div><br>
        <div style="clear: both"> </div>
          {% endfor %}
        </div>

        <div style="clear: both"> </div>
      </div>

      {% if rand_photo %}
        <h2>{% trans "Фотографії" %}</h2>
        <div class="thumb-row clearfix">
          {% for photo in rand_photo|slice:":8"%}
          <div class="gallery-photo-thumb">
            <div class="thumb-image">
            	<a href="{{photo.get_display_url}}" rel="lightbox[hrx]" title="{{photo.title}}">
            		<div style = "background:url('{{photo.get_thumbnail_url}}'); background-repeat:no-repeat; background-position:center; height: 150px;"></div>
            	</a>
            </div>
          </div>    
          {% endfor %}
        </div>
      {% endif %}
      
    </td>
    <td class="right_panel">
      <h2>{% trans "Про нас" %}</h2>
      <p>{% lorem random %}</p>
      
      <h2>{% trans "Учасники" %}</h2>
	<div name = "members" class="thumb-row clearfix">
    {% for member in users %}
        <div name = "member" style="float:left; margin: 10px; text-align: center">  
			<div name = "avatar">
				<a href="{% url profile_detail member.username %}">
					<img src="{% avatar_url member 80 %}" alt="Avatar of {{ member.get_profile }}"/> </a> </div>
			<div name = "username">
				<a href="{% url profile_detail member.username %}"> {{ member.get_profile.name }} </a> </div>
		</div>
	{% endfor %}
</div>
    </td>
  </tr>
</table>
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jcarousellite_1.0.1.min.js"></script>
<script type="text/javascript">

    $(".event_carousel").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
        visible: 2,
        circular: false,
        start: {% spaceless %}
               {% with events.count|add:"-1"  as count0 %}
               {% if nearest_event %}
                   {% ifequal count0 nearest_event %}
                   {{ events.count|add:"-2" }}
                   {% else %}
                   {{ nearest_event  }}
                   {% endifequal %}
               {% else %}
               {{ events.count|add:"-2" }}
               {% endif %}
               {% endwith %}
               {% endspaceless %}
    });

</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css" type="text/css" media="screen" />

{% endblock %}
{% block extra_body %}
{% endblock %}
