{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load blog_tags %}
{% load extra_tagging_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
		{% include "widgets.html" %}



<h2>Новини </h2>


           {% for blog_post in adminposts|slice:":3" %}
                {% show_blog_post blog_post %}
         
            {% endfor %}
      

        
<h2>Новини користувачів</h2>


{% for blog_post in posts|slice:":3" %}

                    
                   
  {% show_blog_post blog_post %}
 {% endfor %}
        
    
{% endblock %}
