{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}photos{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
             <li><a href={% url photos %}>{% trans "Альбоми користувачів" %}</a></li>
             <li><a href={% url recentphotos %}>{% trans "Останні фотографії" %}</a></li>
             <li><a href={% url myphotosets %}>{% trans "Мої aльбоми" %}</a></li>
             <li><a href={% url newphotoset %}>{% trans "Створити альбом" %}</a></li>
    </ul>
    {% else %}
        <ul>
             <li><a href={% url photos %}>{% trans "Альбоми користувачів" %}</a></li>
             <li><a href={% url recentphotos %}>{% trans "Останні фотографії" %}</a></li>
       </ul>
    {% endif %}
{% endblock %}
