{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}photos{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
                   
            <li><a href="/photos/new/photoset">{% trans "Створити альбом" %}</a></li>
            <li><a href="/photoset/latest ">{% trans "Останні альбоми" %}</a></li>
            <li><a href="/photoset/">{% trans "Мої альбоми" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
