{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Альбоми корситувачів" %}</h1>
    
    {% if photosets %}
    {% autopaginate photosets %}
        <div class="thumb-row clearfix">
        {% for photoset in photosets %}
        <div class="gallery-photo-thumb">
            <div class="thumb-image">
            {% if photoset.image_set.count %}
                <a href="/photos/photoset/{{photoset.id}}">
                	<div style = "background:url('{{photoset.first_image.get_thumbnail_url}}'); background-repeat:no-repeat; background-position:center; height: 150px;"></div>
                </a>
            {% else %}
                <a href="/photos/photoset/{{photoset.id}}">
                    <img src="{{STATIC_URL}}pinax/images/no_image.gif" />
                </a>
                {% endif %}<br> </div>

            <b> {{ photoset.name }}</b><br>
          автор: <a href="{% url profile_detail photoset.user.username %}">{{ photoset.user.username }}</a><br />  
            {% comment %}
            
            {% silk "comment" %}<a href="{% groupurl photo_details group id=photo.id %}#photocomments">{% get_comment_count for photo as commentcount %} {{ commentcount }} Comments</a><br />
            
            {% endcomment %}
            
        </div>
        
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p>{% trans "No photos were found." %}</p>
    {% endif %}

    
    
{% endblock %} 
{% block extra_body %}

<script src="jquery.js" type="text/javascript"></script>
<link href="/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/facebox/facebox.js" type="text/javascript"></script> 
<style type="text/css">
#grpSlides {
 height: 170px;
 width: 152px;
 margin: 4px auto;
}
#slideBox {text-align:center;}
#slideDescription {font-size:14pt;}
</style>

<script type="text/javascript">
$.facebox.settings.opacity = 0.5 
 $('a.gallery-photo-thumb').ready(function(){
 var nextImg = '&gt;';
 var prevImg = '&lt;';
 var openGallery = 'Open Gallery';

  $('#gallery a').html(openGallery).wrap("<div id='slideBox'></div>");
 var prevLink = '<a href="javascript:pickImage(false)">'+prevImg+'</a> ';
 var nextLink = ' <a href="javascript:pickImage(true)">'+nextImg+'</a>';
 $('#gallery a').prepend(prevLink).append(nextLink).parent().css('margin','');
})
function pickImage(nxt) {
 galleryPaused = true;
 var tmp = $("#imgCaptionDiv").html();
 var indx = 0;
 var imglen = imgList.length-1;
 for (k=0;k<imglen+1;k++){
  if (imgDescList[k]==tmp) indx = k;
 }
 if (nxt) { indx++ } else { indx-- }
 if (indx > imglen) indx = 0;
 if (indx < 0) indx = imglen;
 showGalleryImage(imgList[indx].toString(), imgDescList[indx].toString());
}
var showGalleryImage = function(sGalleryImgPath, sDescription){
 imgHolder.fadeOut('2500', function(){
  imgHolder.attr("src", sGalleryImgPath);
 imgHolder.bind("click",function(){jQuery.facebox('<center><imgsrc="'+sGalleryImgPath+'"><br><br><divclass="desc">'+sDescription+'</div>') });
  imgHolder.parent().attr("href", "javascript:void(0);");
  jQuery("#imgCaptionDiv").html(sDescription);
  imgHolder.fadeIn('1500', function() { } );
 });
}
</script>{% endblock %}

