{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Latest Photos" %}</h1>
    
    {% if photosets %}
    {% autopaginate photosets %}
        <div class="thumb-row clearfix">
        {% for photoset in photosets %}
        <div class="gallery-photo-thumb">
        
            {% if photoset.image_set.count %}
                <a href="/photos/photoset/{{photoset.id}}">
                    <img src="{{photoset.first_image.get_premedium_url}}" />
                </a>
            {% else %}
                <a href="/photos/photoset/{{photoset.id}}">
                    <img src="{{STATIC_URL}}pinax/images/no_image.gif" />
                </a>
            {% endif %}
            
            {% comment %}
            
            {% silk "comment" %}<a href="{% groupurl photo_details group id=photo.id %}#photocomments">{% get_comment_count for photo as commentcount %} {{ commentcount }} Comments</a><br />
            
            {% endcomment %}
            
        </div>
        
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p>{% trans "No photos were found." %}</p>
    {% endif %}

    
    
{% endblock %}
