{% extends "photos/base.html" %}

{% load i18n %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript">
( function($) {
	$('#gallery a').lightBox();

} ) ( jQuery );
</script>
    
{% endblock %}

{% block body %}

<h2>{{photoset.name}}</h2>

{% ifequal photoset.user request.user %}
<a href="/photos/edit/photoset/{{photoset.pk}}/">{% trans "Редагувати" %}</a>
{% else %}

{% endifequal %}

<div id="gallery">
{% for image in photoset.image_set.all %}
    <a href="{{image.get_display_url}}">
      <img src="{{image.get_premedium_url}}" />
    </a>
    <br />
{% endfor %}
</div>
{% endblock %}
{% block extra_body %}

{% endblock %}

