{% extends "events/base.html" %}

{% load i18n %}
{% load uni_form %}


{% block body_param %} onload="initialize()" {% endblock %}


{% block body %}
    <div class="right_panel">
        {% include "map.html" %}

    </div>
    
    <div class="left_panel">
    <h1>Нова подія</h1>

    <form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
        <fieldset class="inlineLabels">
            {{ event_form|as_uni_form }}      
   
                       <div class="form_block">
                <input type="hidden" name="action" value="add" />
                <input type="hidden" name="photoset" value="0" />
            </div>
        </fieldset>
    </form>
    <h2>{% trans "Додати питання" %}</h2>
    <form class="uniForm">
        <fieldset class="inlineLabels">
            <ul id="itemcontainer">
            </ul>
            <div class="form_block" style="padding: 7px;">
                <a id="additem" href="javascript: void(0)">{% trans "Додати питання" %}</a>
            </div>
            <div class="form_block">
                <input id="pseudosubmit" type="button" value="{% trans "Зберегти" %}">
                <input id="pseudosubmitphotoset" type="button" value="{% trans "Зберегти і перейти до альбому" %}">
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}

{% block extra_body %}

        <link type="text/css" href="{{ STATIC_URL }}pinax/css/jquery-ui-1.8.14.custom.css" rel="stylesheet" />    
        <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-ui-1.8.14.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery.json-2.2.min.js"></script>
        <link type="text/css" href="{{ STATIC_URL }}pinax/css/customquestions.css" rel="stylesheet" />
        <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/customquestions.js"></script>

<script type="text/javascript">

    $(function() {
        $( "#id_date_begin" ).datepicker({ 
                        dayNamesMin: ['Нд', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'], 
                        firstDay: 1,
                        dateFormat: 'yy-mm-dd',
                        monthNames: ['Січень','Лютий','Березень','Квітень','Травень','Червень','Липень','Серпень','Вересень','Жовтень','Листопад','Грудень'] 
                        });
		$( "#id_date_end" ).datepicker({ 
                        dayNamesMin: ['Нд', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'], 
                        firstDay: 1,
                        dateFormat: 'yy-mm-dd',
                        monthNames: ['Січень','Лютий','Березень','Квітень','Травень','Червень','Липень','Серпень','Вересень','Жовтень','Листопад','Грудень'] 
                        });
        $('#edit-profile').testeditor();
        $('#pseudosubmit').click(function() {
            $('#edit-profile').submit();
        });
        $('#pseudosubmitphotoset').click(function() {
            $('#edit-profile input:hidden[name="photoset"]').val("1");
            $('#edit-profile').submit();
        });
    });
    </script>
{% endblock %}

