{% extends "events/base.html" %}

{% load i18n %}
{% load uni_form %}


{% block body_param %} onload="initialize()" {% endblock %}


{% block body %}
    <div class="right_panel">
        {% include "events/map.html" %}

    </div>
    
    <div class="left_panel">
    <h1>Нова подія</h1>

    <form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
        <fieldset class="inlineLabels">


       <div id="div_id_title" class="ctrlHolder">
	                <label for="id_title">                    
	                    Заголовок*
	                </label>
	            <input id="id_title" type="text" class="textinput" name="title" maxlength="200" />
        </div>
	

        <div id="div_id_description" class="ctrlHolder">
	                <label for="id_description">                    
	                    Опис*
	                </label>
	            <textarea id="id_description" rows="10" cols="40" name="description" class="textarea"></textarea>
        </div>


        <div id="date" class="ctrlHolder">
		    <input id="id_date" type="text" class="textinput" name="date" maxlength="200" value = "2011-04-27 00:00"/>
	                <label for="id_date">                    
	                    Дата*
	                </label></div>
	            		
        <div id="address" class="ctrlHolder">
	              <label for="id_address">                    
	                   Адреса*
	                </label>
	        <textarea id="id_address" rows="5" cols="40" name="address">Україна, Київ</textarea>
			<input type="button" value="Знайти на мапі" onclick="codeAddress()">
			</div>
		    <input id="id_location" type="hidden" class="textinput" name="location" maxlength="200" value = "(48.464954, 35.044956)"/>


            <div class="form_block">
                <input type="hidden" name="action" value="Add" />
                <input type="submit" value="{% trans "Add" %}" />
            </div>
        </fieldset>
    </form>
</div>



{% endblock %}

{% block extra_body %}

		<link type="text/css" href="{{ STATIC_URL }}pinax/css/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
   		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-ui-1.8.14.custom.min.js"></script>

<script type="text/javascript">
	$(function() {

		$( "#id_date" ).datepicker({ dayNamesMin: ['Нед', 'Пон', 'Вівт', 'Сер', 'Чт', 'Пт', 'Суб'], firstDay: 1, dateFormat: 'yy-mm-dd',  monthNames: ['Січень','Лютий','Березень','Квітень','Травень','Червень','Липень','Серпень','Вересень','Жовтень','Листопад','Грудень'] });
	});
	</script>
{% endblock %}

