{% extends "events/base.html" %}

{% load i18n %}

{% block body_param %} onload="initialize()" {% endblock %}


{% block body %}
    <h1>{{ event.title }}</h1>
    {% if table.rows %}
        <h2>{% trans "Відповіді" %}</h2>
        <table>
            <tr>
                {% for column in table.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in table.rows %}
                <tr>
                {% for value in row %}
                    <td>
                        {% ifequal value.type "list" %}
                            <ul>{{ value.data|unordered_list }}</ul>
                        {% else %}{% ifequal value.type "profile" %}
                            <a href="{% url profile_detail value.profile %}">{{ value.data }}</a>
                        {% else %}
                            {{ value.data }}
                        {% endifequal %}{% endifequal %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <a href="?action=export"> <P> {% trans "Завантажити у форматі XLS" %} </P> </a>
    {% else %}
        <p>{% trans "Відповідей поки що немає." %}</p>
    {% endif %}
{% endblock %}

{% block extra_body %}

		<link type="text/css" href="{{ STATIC_URL }}pinax/css/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
   		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-ui-1.8.14.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery.json-2.2.min.js"></script>
		<script type="text/javascript">

	$(function() {
		
	});
	</script>
		
{% endblock %}
