{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block extra_head %} 
    <link type="text/css" href="{{ STATIC_URL }}pinax/css/events.css" rel="stylesheet" />
{% endblock %}

{% block body_class %}events{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
    	{% if is_me and event %}
            <li><a href="/events/edit/{{ event.id }}"> Редагувати подію </a></li>        
    		<li><a href="/events/destroy/{{ event.id }}"> Видалити подію </a></li>
    		{% if event.questions %}<li> <a href="/events/answers/{{ event.id }}"> Переглянути відповіді  </a> {% endif%} </li>
    	{% endif %}        
            <li><a href="{% url events %}">{% trans "Всі події" %}</a></li>
            <li><a href="{% url event_list_yours %}">{% trans "Мої події" %}</a></li>
            <li><a href="{% url add_event %}">{% trans "Додати подію" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}


