{% extends "events/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}
{% load comments_tag %}

{% block head_title %}{% blocktrans %}Event Details{% endblocktrans %}{% endblock %}


{% block extra_head %}

<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
<script type="text/javascript">

var initialLocation;
var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
var browserSupportFlag =  new Boolean();
var map;
var infowindow = new google.maps.InfoWindow();
  
function initialize() {
  var myOptions = {
    zoom: 6,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  
  // Try W3C Geolocation method (Preferred)
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      contentString = "You here";
      map.setCenter(initialLocation);
      infowindow.setContent(contentString);
      infowindow.setPosition(initialLocation);
      infowindow.open(map);
    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  } else if (google.gears) {
    // Try Google Gears Geolocation
    browserSupportFlag = true;
    var geo = google.gears.factory.create('beta.geolocation');
    geo.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
      contentString = "Location found using Google Gears";
      map.setCenter(initialLocation);
      infowindow.setContent(contentString);
      infowindow.setPosition(initialLocation);
      infowindow.open(map);
    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  } else {
    // Browser doesn't support Geolocation
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag == true) {
    initialLocation = newyork;
    contentString = "Error: The Geolocation service failed.";
  } else {
    initialLocation = siberia;
    contentString = "Error: Your browser doesn't support geolocation. Are you in Siberia?";
  }
  map.setCenter(initialLocation);
  infowindow.setContent(contentString);
  infowindow.setPosition(initialLocation);
  infowindow.open(map);
}
</script>

 <style type="text/css">
   .map { 
    height: 400px !important;
    width: 600px !important;

   }
  </style> 




{% endblock %}

{% block body_param %} onload="initialize()" {% endblock %}
{% block body %}


  
    <h1>{% trans "Event Details" %}</h1>

	<div id="div_id_title" class="ctrlHolder">
	           <label for="id_title">                    
	                   Title:
	           </label>
	        	{{ event.title }} 
    </div>

	<div id="div_id_details" class="ctrlHolder">
	           <label for="id_details">                    
	                   Details:
	           </label>
      {{ event.description }}
    </div>

	<div id="div_id_address" class="ctrlHolder">
	           <label for="id_address">                    
	                   Address:
	           </label>
	      {{ event.address }} 
    </div>

	<div id="div_id_date" class="ctrlHolder">
	           <label for="id_date">                    
	                   Date:
	           </label>
	        {{ event.date }} 
    </div>

	<div id="div_id_date" class="ctrlHolder">
	           <label for="id_date">                    
	                   Creator:
	           </label>
	        {{ event.creator }} 
    </div>

	{% if is_me %}
		<a href="/events/edit/{{ event.id }}"> <P> Edit event </P> </a>        
		<a href="/events/destroy/{{ event.id }}"> <P> Delete event </P> </a>   
	{% endif %}

		<a href="/events/join/{{ event.id }}"> <P> Join to event </P> </a>   

        <h3>Members of this event:</h3>

        {% for member in members %}

			<P> {{ member }} </P>
		{% endfor %}

        <h3>Comments on this event:</h3>
         	{% comments event %}

 	<div id="map_canvas" class = "map" ></div>

{% endblock %}



