{% load i18n %}
{% load avatar_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load theme_tags %}


    

        <form action="{% url apps.events.view.destroy id = event.id %}" method="POST">
            <label>Delete Event</label> <input type="image" src="{{ STATIC_URL }}pinax/images/silk/icons/delete.png" border="0" title="{% trans "Delete Photo" %}" />
                        <input type="hidden" name="action" value="delete"/>
        </form>
        
        <a href="{% groupurl photo_edit group id=photo.id %}">Edit Photo</a>
        

    
</div>

<div class="photo-right-exif">
</div>
