{% extends "events/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}
{% load resizeimg %}



{% block body %}


<h1>

<span>{% trans "Події" %} </span>

<span style="float: right; font-size:12pt; font-weight:bold; margin-top: 10px; margin-right: 45px;" >{% trans "Кінець" %}</span>
<span style="float: right; font-size:12pt; font-weight:bold; margin-top: 10px; margin-right: 75px;" >{% trans "Початок" %}</span>


</h1>

	
        {% for event in events %}
<HR>
<div class="event clearfix">

    <div class="event_image">
    	<a  href="{% url event_details event.id%}" title="{{photo.title}}">
            <div style = "background:url('{{event.eventimage|resize_img:"155,150"}}'); background-repeat:no-repeat; background-position:center; height: 150px;"></div>
    	</a>
    </div>
            
        <div class="event-tease">
                <a href="{% groupurl event_details group id=event.id %}"> <h2> {{ event.title }}</h2> <br> </a>
            {{ event.address }}
        </div> 
        <div class="date_block">    
            <div class="event-date">{{event.date_begin}}</div>
            <div class="event-date">{{event.date_end}}</div>
        </div>
    </div>  
    {% endfor %}
   
{% endblock %}
