	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&language=uk"></script>
<script type="text/javascript">
var myLatlng = new google.maps.LatLng(55.773483,37.608948);
var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
var dnipropetrovsk = new google.maps.LatLng(48.464954, 35.044956);
var geocoder;

{% if event %}
		var center = new google.maps.LatLng{{ event.location }};
{% else %}
		var center = dnipropetrovsk;
{% endif %}


var map;
var infowindow = new google.maps.InfoWindow();


var marker = new google.maps.Marker({
     position: center,
     title:"ololo"
  });

  function initialize() {
    geocoder = new google.maps.Geocoder();

    var myOptions = {
      zoom: 11,
      center: center,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	marker.setMap(map);
  google.maps.event.addListener(map, 'click', function(event) {
    getLocate(event);
	codeLatLng();
  });

  }


  function getLocate(event) 
{
	var location_input = document.getElementById('id_location');
	location_input.value= event.latLng;
	marker.setPosition(event.latLng);
	marker.setMap(map);

}
  function codeAddress() {
    var address = document.getElementById("id_address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
	marker.setPosition(results[0].geometry.location);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }


  function codeLatLng() {
    var input = marker.getPosition();
    var output = document.getElementById("id_address");
    var latlng = input;
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
		marker.setPosition(latlng); 
	  output.value = results[0].formatted_address
        } else {
          alert("No results found");
        }
      } else {
        alert("Geocoder failed due to: " + status);
      }
    });
  }

</script>

 <style type="text/css">
   #map_canvas { 
    width: 400px;
    height: 280px;
   }
  </style> 


    <h1>Location</h1> <P></P>
 	<div id="map_canvas"></div>

