{% load i18n %}
{% load avatar_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load theme_tags %}



{% block extra_head %}


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>



<script type="text/javascript">
var myLatlng = new google.maps.LatLng(55.773483,37.608948);
var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
var dnipropetrovsk = new google.maps.LatLng(48.464954, 35.044956);


{% if event %}
		var center = new google.maps.LatLng{{ event.location }};
{% else %}
		var center = dnipropetrovsk;
{% endif %}

var map;
var infowindow = new google.maps.InfoWindow();



 var marker = new google.maps.Marker({
      position: center,
      title:"{{ event.title }}"
  });




function initialize() {


  var myOptions = {
    zoom: 11,
    center: center,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  marker.setMap(map);


  google.maps.event.addListener(map, 'click', function(event) {
    getLocate(event);
  });


}
  

function getLocate(event) 
{
	var location_input = document.getElementById('id_location');
	location_input.value= event.latLng;
	marker.setPosition(event.latLng);

}



</script>




 <style type="text/css">
   #map_canvas { 
    width: 400px;
    height: 280px;
   }
  </style> 

{% endblock %}

 	<div id="map_canvas"></div>

