{% extends "events/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block body %}
    <h1>{{ event.title }}</h1>
    <h2>{% trans "Додаткові питання" %}</h2>
    <form class="uniForm" method="POST" enctype="multipart/form-data" action="{% url event_join event.id %}">
        <fieldset class="inlineLabels">
            {{ questions_form|as_uni_form }}      
   
            <div class="form_block">
                <input type="hidden" name="action" value="add" />
                <input id="submit" type="submit" value="{% trans "Надіслати" %}" />
            </div>
        </fieldset>
    </form>
{% endblock %}
