{% extends "events/base.html" %}

{% load i18n %}
{% load theme_tags %}

{% block body %}
    
    <h1>{% trans "Мої події" %}</h1>    
    
    {% if events %}
        <table cellpadding="5" cellspacing="0" border="0" class="event-list" width="100%">
        <th>Назва</th>
        <th>Підтверджено адміністратором</th>
        {% for event in events %}
            <tr class="{% cycle odd,even %}">
                <th><a href="{% url event_details event.id %}">{{ event }}</a></th>
                <th>
                    {% if event.approved %}
                        {% trans "Підтверджено" %}
                    {% else %}
                        {% trans "Не підтверджено" %}
                    {% endif %}
                </th>
      <th width="50px" align="center">
                        <a href="{% url event_edit event.id %}">
                            {% silk "pencil" %}
                        </a>
                    </th>
                    <th align="right">
                        <form action="{% url event_destroy event.id %}" method="POST">
                            {# @@@ still can't replace this with a silk tag yet #}
                            <input type="image" src="{{ STATIC_URL }}pinax/images/silk/icons/delete.png" border="0" title="{% trans "Delete Post" %}" />
                            <input type="hidden" name="action" value="delete"/>
                       </form>
                    </th>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {% trans "Поки що події відсутні" %}
    {% endif %}
    
{% endblock %}
